[submodule "i3blocks/i3blocks-contrib"]
	path = i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule "i3/i3scripts"]
	path = i3/i3scripts
	url = https://github.com/justbuchanan/i3scripts
